<%= form_for([@list, @task]) do |f| %>
  <% if @task.errors.any? %>
    <div id="error_explanation" class="alert alert-danger" role="alert">
      <h2><%= pluralize(@task.errors.count, "error") %> prohibited this task from being saved:</h2>
      <ul>
        <% @task.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :name %><br />
    <%= f.text_field :name, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :due_date %><br />
    <%= f.date_select :due_date %>
  </div>
  <div class="form-group row">
    <div class="col-sm-6">
      <div class="form-check">
        <label class="form-check-label" for="gridCheck1">
          <%= f.check_box :complete, class: "form-check-input" %>
          <%= f.label :complete, "Complete?" %>
        </label>
      </div>
    </div>
  </div>
  <div class="actions">
    <%= f.submit class: "btn btn-primary" %>
  </div>
<% end %>
