<h1>List Tasks</h1>

<table class="table table-hover">
  <thead>
    <tr>
      <th scope="col" class="h2">Name</th>
      <th scope="col" class="h2">Due Date</th>
      <th scope="col" class="h2">Complete?</th>
      <th scope="col"></th>
      <th scope="col"></th>
      <th scope="col"></th>
    </tr>
  </thead>
  <% @tasks.each do |task| %>
  <tbody>
    <tr>
      <td class="h4"><%= task.name %></td>
      <td class="h4"><%= task.due_date %></td>
      <td class="h4"><%= task.complete %></td>
      <td class="h4"><%= link_to 'Show', list_task_path(@list, task) %></td>
      <td class="h4"><%= link_to 'Edit', edit_list_task_path(@list, task) %></td>
      <td class="h4"><%= link_to 'Destroy', list_task_path(@list, task), method: :delete, confirm: 'Are you sure?' %></td>
    </tr>
  </tbody>
  <% end %>
</table>

<br />

<%= link_to 'Back', lists_path, class: "btn btn-primary" %> 
<%= link_to 'New Task', new_list_task_path(@list), class: "btn btn-primary" %> 
<%= link_to 'Sort Due Date', list_tasks_path(@list), class: "btn btn-primary" %>
